/*************************************
*******     Header
*************************************/

#header{
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    z-index: 100;
    text-align: center;
    background-repeat: repeat-x;
    background-image: url('../img/header-texture.png');
    background-color: #fff;
}

#header .nav-section{
    display: inline-block;
    font-size: 25px;
    padding-top: 10px;
    position: relative;
    min-width: 177px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

#header .nav-section:hover{
    background-color: rgba(255,255,255,0.5);
}

#header #logo{
    position: absolute;
    top: -24px;
    left: 0px;
    cursor: initial;
}


/*************************************
*******     General
*************************************/
.body-section{
    min-height: 340px;
    font-size: 16px;
    position: relative;
    top: 45px;
    text-align: center;
    padding-bottom: 10px;
}

.body-section-location{
    position: absolute;
    top: -40px;
}

.body-section-container{
    width: 980px;
    display: inline-block;
    text-align: left;
}

.body-section-container ul{
    padding-left: 20px;
}

.section-title{
    font-size: 65px;
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
}


.section-primary{
    color: #fff;
    background-color: #003399;
}

.section-primary .section-illustration{
    float: right;
    margin-left: 20px;
}

.section-primary .section-content{
    /* float: left; */
}

.section-primary a {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}

.section-primary a:hover {
    color: #ccc;
}

.section-secondary{
    color: #656565;
    background-color: #fff;
}

.section-secondary .section-illustration{
    float: left;
    margin-right: 20px;
}

.section-secondary .section-content{
    float: left;
    width: 49%;
}


.sections-list, .sections-list ul{
    padding-left: 10px;
    list-style: none;
}



/*************************************
*******     Home
*************************************/

/*************************************
*******     Who
*************************************/

/*************************************
*******     Services
*************************************/


/*************************************
*******     Contact
*************************************/
#section-contact{
    position: relative;
    background-image: url("../images/map.png");
    height: 375px;
}

#section-contact hr{
    border: 2px solid #562739;
}

#section-contact .container-shadow{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
}

#contact-container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.contact-information{
    font-size: 20px;
}

.contact-information .section-subtitle, .contact-form .section-subtitle{
    margin-bottom: 0px;
    text-align: left;
}

.contact-information .glyphicon, .contact-information .fa{
    width: 20px;
    margin-bottom: 20px;
}

.contact-information .fa-map-marker{
    padding-left: 3px;
}


.contact-form{
}

.contact-form input, .contact-form textarea{
    border-radius: 0;
    margin-bottom: 10px;
}

.contact-form textarea{
    resize: none;
    height: 150px;
}

.contact-form input[type=submit]{
    background-color: #756b69;
    font-weight: bolder;
    float: right;
    padding: 15px 35px;
    border: 0;
}
/*************************************
*******     Modal
*************************************/
.mp-modal{
    text-align: left;
    color: #000;
}

/*************************************
*******     Footer
*************************************/
#main-footer{
    position: relative;
    color: #fff;
    height: 60px;
    padding-top: 23px;
    background-color: #063c9e;
    box-sizing: border-box;
    text-align: center;
}

#footer-copyright{
}

#twittercounts{
    float: right;
    margin-right: 10px;
    text-align: right;
}

#footer-social-media .fa{
    color: #fff;
    float: right;
}
#footer-social-media .fa:hover{
    color: #a2a2a2;
}
