@font-face {
    font-family: 'LeagueGothic-Regular';
    src: local('LeagueGothic-Regular'), local('LeagueGothic'),url('../font/LeagueGothic-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Calibri';
    src: local('calibri'), local('Calibri'),url('../font/calibri.otf') format('opentype');
}

*{
    font-family: 'Calibri';
}

.gothic-font, .gothic-font *{
    font-family: 'LeagueGothic-Regular' !important;
}

body{
    padding: 0; 
    margin: 0; 
    background-color: #fff;
}





