@font-face {
    font-family: 'LeagueGothic-Regular';
    src: local('LeagueGothic-Regular'), local('LeagueGothic-Regular'),url('../font/LeagueGothic-Regular.otf') format('opentype');
}

*{
    font-family: 'LeagueGothic-Regular';
}

body{
    padding: 0; 
    margin: 0; 
    background-color: #fff;
}


